.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    padding: 15px 48px;
    box-shadow: 0px 20px 20px 0px #00000014;
    box-shadow: 0px 0px 2px 0px #0000001F;

    &.disabled {
        cursor: default;
    }

    // Types
    &.blank {
        border: 1px solid $light;
        color: $light;

        &:hover {
            background: rgba(0,0,0,0.01);
        }
    }
    &.main {
        background-color: $main;
        color: black;

        &.disabled {
            background-color: #59f886;

            &:hover {
                background: #54e77e;
            }
        }

        &:hover {
            background: #03df41;
        }
    }
    &.secondary {
        background-color: $secondary;
        color: white;

        &.disabled {
            background-color: #19f056;

            &:hover {
                background: #1deb57;
            }
        }

        &:hover {
            background: #02a12f;
        }
    }
}