* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

body {
    font-family: $poppins;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $inter;
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
}

input {
    border: none;
}

button, a {
    font-family: $poppins;
    text-decoration: none;
    transition: 200ms;
    cursor: pointer;
}

input, textarea {
    font-family: $poppins;
    transition: 200ms;
    outline: none;
    border: none;
    background: transparent;
}

::selection {
    background: $secondary;
    color: #FFF;
}
